@{
    ViewData["Title"] = "Politique de confidentialité";
}
<div id="privacy-policy">
    <h2>Politique de confidentialité de PARTAGe</h2>
    <ol>
        <li>
            <strong>Collecte des informations :</strong> Nous collectons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte,
            lorsque vous faites une réservation, et/ou lorsque vous vous déconnectez. Les informations collectées incluent votre nom, 
            votre adresse e-mail, votre voiture électrique, et éventuellement des photos de votre borne.</li>
        <li>
            <strong>Utilisation des informations :</strong> Toutes les informations que nous recueillons auprès de vous peuvent être utilisées pour :
            <ul>
                <li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
                <li>Améliorer notre site web</li>
                <li>Améliorer le service client et vos besoins de prise en charge</li>
                <li>Vous contacter par e-mail</li>
                <li>Administrer un concours, une promotion, ou une enquête</li>
            </ul>
        </li>
        <li><strong>Confidentialité du commerce en ligne :</strong> Nous sommes les seuls propriétaires des informations recueillies sur ce site. 
            Vos informations personnelles identifiables ne seront pas vendues, échangées, transférées, ou données à une autre entreprise pour n’importe quelle raison, 
            sans votre consentement, en dehors de ce qui est nécessaire pour répondre à une demande et/ou une transaction, comme par exemple pour expédier une commande.</li>
        <li><strong>Divulgation à des tiers :</strong> Nous ne vendons, n’échangeons, ou ne transférons pas à des tiers vos informations personnelles identifiables. 
            Cela ne comprend pas les tierces parties de confiance qui nous aident à exploiter notre site web ou à mener nos affaires, 
            tant que ces parties conviennent de garder ces informations confidentielles.</li>
        <li><strong>Protection des informations :</strong> Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. 
            Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. 
            Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d’effectuer un travail spécifique (par exemple, 
            la facturation ou le service à la clientèle) ont accès aux informations personnelles identifiables. 
            Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.</li>
        <li><strong>Est-ce que nous utilisons des cookies ? :</strong> Oui. Nos cookies améliorent l’accès à notre site et identifient les visiteurs réguliers. 
            En outre, nos cookies améliorent l’expérience de l’utilisateur en suivant et en ciblant ses intérêts. 
            Cependant, cette utilisation des cookies n’est en aucune façon liée à des informations personnelles identifiables sur notre site.</li>
        <li><strong>Se désabonner :</strong> Nous utilisons l’adresse e-mail que vous fournissez pour vous envoyer des informations et des mises à jour relatives à votre commande, 
            des nouvelles de l’entreprise de façon occasionnelle, des informations relatives à des produits, etc. 
            Si à n’importe quel moment vous souhaitez vous désinscrire et ne plus recevoir d’e-mails, 
            des instructions de désabonnement détaillées sont incluses en bas de chaque e-mail.</li>
        <li><strong>Consentement :</strong> En utilisant notre site, vous consentez à notre politique de confidentialité.</li>
    </ol>
</div>
<div style="text-align: center;">
    <a href="/" class="btn btn-retour mt-3">Retour à la page d'accueil</a>
</div>